body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./home.jpg);
    background-size: cover;
    
    
    
    
}

.page{
    padding: 20px;
    position: relative;
}
#goHome{
    text-decoration: none;
    color: blue;
}
#homePage {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: blue;
    margin-top: 15%;
    
}
#homePage h1 {
    font-size: 2.5em;
    margin-bottom: 20px;

}
#homePage button {
    padding: 5px 15px;
    font-size: 1.2em;
    cursor: pointer;
}

.controls {
    padding: 10px;
    background-image: url(./home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#artContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

#artContainer.list-view {
    display: block;
}

.artwork {
    border: 1px solid #ddd;
    padding: 15px;
}

.artwork img {
    max-width: 100%;
    height: auto;
}
#viewGallery{
    background-color:red;
    color:white;
    margin: 0;
}